* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */
:root {
    --dropbox--secondary: rgba(0, 97, 255, 1);
    --dropbox--primary: rgba(180, 208, 231, 1);
    --dropbox--light: rgba(255, 255, 255, 1);
    --dropbox--dark: rgba(0, 0, 0, 1);

}

/* style of header */
header {
    background-color: var(--dropbox--light);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* style container left */
.left {
    display: flex;
}

/* style of list item in the header */
.custom_list_header {
    list-style: none;
    gap: 20px;
    display: flex;
    padding: 10px;

}

.custom_list_header a {
    text-decoration: none;
    color: black;
}

/* style logo  */
.logo {
    padding: 5px;
    margin-right: 1rem;


}

/* style button of header */
.custom_button_header {
    border: none;
    width: 5rem;
    color: white;
    background: var(--dropbox--secondary);
    text-align: center;
    height: 25px;
}

/* start style of first section main jumbo */
.jumbo {
    width: 100%;
}

.container_jumbo {
    width: 100%;
    height: 500px;
    background-color: var(--dropbox--primary);
}

.contents_jumbo {
    padding-top: 50px;
}

/* style of contents */
.contents_jumbo h2 {

    font-size: 65px;
    text-align: center;
    padding-bottom: 4rem;

}

/* container flex style */
.flex_jumbo {
    display: flex;
    justify-content: end;
}

/* style of columns */
.col-small {
    width: 25%;

}

.col-small p {
    font-size: 18px;
}

.col-60 {
    height: 100px;
    width: 60%;
}

.col-60 img {
    max-width: 70%;
}

/* style button in first section of main */
.custom_button1_jumbo {
    border: none;
    background-color: var(--dropbox--secondary);
    color: white;
    height: 25px;
    width: 175px;
    margin-top: 40px;
}

.custom_button2_jumbo {
    border: none;
    margin-top: 30px;
    background-color: var(--dropbox--primary);
}

.design_arrow {
    margin-top: 30px;
    margin-left: 15px;
    font-size: 20px;
}

/* style of second section of maine */


.busniess {
    margin-top: 1rem;

}

/* container second of main */
.container_busniess {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: auto;
}

[class^="col-"] {
    padding: 1rem;
}

.row {


    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;

}

.col-4 {
    padding: 1rem;
    line-height: 40px;
    margin-top: 30px;
    width: calc((100% / 12) * 4);
    min-height: 600px;
    border: 1px solid black;

}

.col-12 {
    margin-top: 50px;
    width: 100%;
    border: 1px solid black;

}




/* style of cards */


.busniess h2 {
    font-size: 60px;
    margin-top: 60px;
    text-align: center;
    margin-right: 350px;

}


/* style input */

input[type="radio"] {
    height: 1.2rem;
    width: 1.2rem;

}

/* style of columns */



/* stile of check */
.fa-check {
    color: var(--dropbox--secondary);
    font-weight: 10px;
}

.title_card {
    border-bottom: 1px groove lightgrey;
    text-align: center;
}

.custom_button_main {
    border: none;
    background-color: var(--dropbox--secondary);
    color: white;
    height: 30px;
    width: 200px;
    margin-top: 40px;
    margin-left: 40px;

}

.footer_card {
    border-top: groove;
    line-height: 30px;
    margin-left: 10px;
}

/* style of las section of cards */


.team_header {
    border-bottom: 1px groove lightgrey;
    text-align: center;

}

.title_team {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.title_team h5 {
    font-size: 20px;
}

.custom_team_button {
    border: none;
    background-color: var(--dropbox--secondary);
    color: white;
    height: 30px;
    width: 200px;
    margin-top: 40px;
    margin-right: 15px;
}


.text_team {
    width: 600px;
    padding: 5px;
    margin-top: 40px;
}


/* style of container partener */
.container_partener {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

/* style of container img */


.container_partener img {
    max-width: 90%;
    height: 500px;
}

/* style of container text */
.partener_text {
    width: 30%;
    padding: 2rem;
    line-height: 20px;
}

.partener_text h4 {
    width: 270px;
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.partener_text button {
    margin-top: 30px;
    border: 1px groove lightgrey;
    background-color: #fffefe;
    height: 30px;
    width: 120px;
}