* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */
:root {
    --dropbox--secondary: rgba(0, 97, 255, 1);
    --dropbox--primary: rgba(180, 208, 231, 1);
    --dropbox--light: rgba(255, 255, 255, 1);
    --dropbox--dark: rgba(0, 0, 0, 1);

}
/* style of header */
header {
    background-color: var(--dropbox--light);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* style container left */
.left {
    display: flex;
}
/* style of list item in the header */
.custom_list_header{
    list-style: none;
    gap: 20px;
    display: flex;
    padding: 10px;
}
/* style logo  */
.logo {
    padding: 5px;
    margin-right: 1rem;


}
/* style button of header */
.custom_button_header{
    border: none;
    width: 5rem;
    color: white;
    background: var(--dropbox--secondary);
    text-align: center;
    height: 25px;
}
.jumbo{
    width: 100%;
}
.container_jumbo{
    width: 100%;
    height: 500px;
    background-color: var(--dropbox--primary);
}

.contents_jumbo {
    padding-top: 50px;
}
.contents_jumbo h2 {

    font-size: 65px;
    text-align: center;
    padding-bottom: 4rem;

}
.flex_jumbo{
    display: flex;
    justify-content:end;
}

.col-small {
    width: 25%;

}
.col-small p {
    font-size: 18px;
}
.col-60 {
    height: 100px;
    width: 60%;
}

.col-60 img{
  max-width: 70%;
}
.custom_button_jumbo{
    
}

